@import "_base.scss";

/* arrows */
.extDown15x9 {
	background-image: url('../img/css/base64/arrow_down_15x9.png');
	}
.extRight9x15 {
	background-image: url('../img/css/base64/arrow_right_9x15.png');
	}
.extArrowDown8x6 {
	background-image: url('../img/css/base64/arrow_down_8x6.png');
	}

/* gragients */
.extGradientIn40 {
	background-image: url('../img/css/base64/gradient_in_1x40.png');
	}
.extGradientOut49 {
	background-image: url('../img/css/base64/gradient_out_1x49.png');
	}
.extGradientOutDark23 {
	background-image: url('../img/css/base64/gradient_out_dark_1x23.png');
	}

/* icons */
.extLive {
	background-image: url('../img/css/base64/live_37x14.png');
	}
.extOnline37x14 {
	background-image: url('../img/css/base64/online_37x14.png');
	}
.extOffline37x14 {
	background-image: url('../img/css/base64/offline_37x14.png');
	}
.extMan11x12 {
	background-image: url('../img/css/base64/man_11x12.png');
	}


/*******************************************************************************
 article
 *******************************************************************************/
.b-article {
    @include iePie;
}


/*******************************************************************************
 aside
 *******************************************************************************/
.b-aside__block {
    @include iePie;
}

/* aside__switchers */
.b-aside__switchers {
    .item {
        @extend .extGradientOut49;
        @include iePie;
        &.active {
            @extend .extGradientOutDark23;
        }
    }
}


/*******************************************************************************
 comments
 *******************************************************************************/
.i-comments {
    @include iePie;
}
.b-comments {
    .item {
        &.negative {
            .item__comment {
                @include ieOpacity(70);
                &:hover {
                    @include ieOpacity(100);
                }
            }
        }
    }
    .attached__zoom__over {
        background: url('../img/css/ie/1x1_000_a70.png');
    }
}
.b-comments__form {
    .browse__file {
        @include ieOpacity(0);
    }
}


/*******************************************************************************
 myGallery
 *******************************************************************************/
.b-myGallery {
    @include iePie;
}


/*******************************************************************************
 nav
 *******************************************************************************/
.b-nav {
	background-image: url('../img/css/base64/nav_bg.png');
	@include iePie;
	}

/*******************************************************************************
 profileFriends
 *******************************************************************************/
.b-profileBlock {
    @include iePie;
}


/*******************************************************************************
 slider
 *******************************************************************************/
.b-slider {
	.item__info {
		background: url('../img/css/ie/1x1_000_a70.png');
		}
	}


/*******************************************************************************
 stream
 *******************************************************************************/
/* stream__big */
.b-stream__big {
    .streamBanner__over {
        background: url("../img/css/ie/1x1_000_a70.png");
    }
}


/*******************************************************************************
 teamAll
 *******************************************************************************/
.b-teamAll__info {
	background: url('../img/css/ie/1x1_000_a70.png');
	}
