<div class="control-row">
    {{view App.CountrySelectView controllerBinding="App.countriesController" placeholder="Country"}}
</div>

<div class="control-row">
    <input type="text" name="name" class="name" placeholder="Name" {{bindAttr value="view.name"}}/>
</div>

<div class="control-row">
    <button type="submit" class="btn btn-primary save-btn">{{loc '_save'}}</button>
    <button type="button" class="btn cancel-btn">{{loc '_cancel'}}</button>
</div>