<!--
 * team_matches_tooltip
 * @author: actuosus
 * @fileOverview 
 * Date: 01/02/2013
 * Time: 22:02
-->

<div class="tooltip-section">
    <div class="tooltip-name">Прошедшие матчи</div>
    <table>
        {{#each view.content.matches}}
            <tr>
                <td class="date"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {{/each}}
    </table>
</div>

<div class="tooltip-section">
    <div class="tooltip-name">Будущие матчи</div>
    <table>
        {{#each view.content.matches}}
            <tr>
                <td class="date"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {{/each}}
    </table>
</div>