/* arrows */
.extDown15x9 {
  background-image: url("../img/css/base64/arrow_down_15x9.png");
}

.extRight9x15 {
  background-image: url("../img/css/base64/arrow_right_9x15.png");
}

.extArrowDown8x6 {
  background-image: url("../img/css/base64/arrow_down_8x6.png");
}

/* gragients */
.extGradientIn40 {
  background-image: url("../img/css/base64/gradient_in_1x40.png");
}

.extGradientOut49, .b-aside__switchers .item {
  background-image: url("../img/css/base64/gradient_out_1x49.png");
}

.extGradientOutDark23, .b-aside__switchers .item.active {
  background-image: url("../img/css/base64/gradient_out_dark_1x23.png");
}

/* icons */
.extLive {
  background-image: url("../img/css/base64/live_37x14.png");
}

.extOnline37x14 {
  background-image: url("../img/css/base64/online_37x14.png");
}

.extOffline37x14 {
  background-image: url("../img/css/base64/offline_37x14.png");
}

.extMan11x12 {
  background-image: url("../img/css/base64/man_11x12.png");
}

/*******************************************************************************
 article
 *******************************************************************************/
.b-article {
  position: relative;
  behavior: url(/PIE.htc);
}

/*******************************************************************************
 aside
 *******************************************************************************/
.b-aside__block {
  position: relative;
  behavior: url(/PIE.htc);
}

/* aside__switchers */
.b-aside__switchers .item {
  position: relative;
  behavior: url(/PIE.htc);
}

/*******************************************************************************
 comments
 *******************************************************************************/
.i-comments {
  position: relative;
  behavior: url(/PIE.htc);
}

.b-comments .item.negative .item__comment {
  filter: alpha(opacity =70);
}
.b-comments .item.negative .item__comment:hover {
  filter: alpha(opacity =100);
}
.b-comments .attached__zoom__over {
  background: url("../img/css/ie/1x1_000_a70.png");
}

.b-comments__form .browse__file {
  filter: alpha(opacity =0);
}

/*******************************************************************************
 myGallery
 *******************************************************************************/
.b-myGallery {
  position: relative;
  behavior: url(/PIE.htc);
}

/*******************************************************************************
 nav
 *******************************************************************************/
.b-nav {
  background-image: url("../img/css/base64/nav_bg.png");
  position: relative;
  behavior: url(/PIE.htc);
}

/*******************************************************************************
 profileFriends
 *******************************************************************************/
.b-profileBlock {
  position: relative;
  behavior: url(/PIE.htc);
}

/*******************************************************************************
 slider
 *******************************************************************************/
.b-slider .item__info {
  background: url("../img/css/ie/1x1_000_a70.png");
}

/*******************************************************************************
 stream
 *******************************************************************************/
/* stream__big */
.b-stream__big .streamBanner__over {
  background: url("../img/css/ie/1x1_000_a70.png");
}

/*******************************************************************************
 teamAll
 *******************************************************************************/
.b-teamAll__info {
  background: url("../img/css/ie/1x1_000_a70.png");
}
