//******************************************************************************
// slider
//******************************************************************************
@mixin blockSlider( $arrowWidth, $arrowHeight, $leftArrowImg, $rightArrowImg,
$leftArrowImgActive: '', $rightArrowImgActive: '' ) {

	.i-slider {
		position: relative;
		// width

		.leftArrow,
		.rightArrow {
			display: block;
			position: absolute;
			// top
			width: #{$arrowWidth}px;
			height: #{$arrowHeight}px;
			cursor: pointer;
			z-index: 2;
			}
		.leftArrow {
			// left
			background: $leftArrowImg;
			@if $leftArrowImgActive != '' {
				&:hover {
					background: $leftArrowImgActive;
					}
				}
			}
		.rightArrow {
			// right
			background: $rightArrowImg;
			@if $rightArrowImgActive != '' {
				&:hover {
					background: $rightArrowImgActive;
					}
				}
			}
		.boundingBox {
			overflow: hidden;
			// height
			}
		}
	.b-slider {
		position: relative;
		width: 999em;
		margin: 0;
		padding: 0;
		list-style: none;
		z-index: 1;
		}
	.b-slider__item {
		float: left;
		//width
		}

	} // end blockSlider
