@import "_base.scss";

/*******************************************************************************
 footer
 *******************************************************************************/
.b-footer {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: $contentWidth;
	height: $footerHeight - 30px;
	margin: 0 0 0 (-$contentWidth / 2);
	padding-top: 30px;
	color: $colorGrey;
	}

.b-footer__social {
	float: left;
	width: 292px - 82px;
	padding-left: 82px;
	font-size: 12px;
	line-height: 18px;

	b {
		font-size: 13px;
		}

	.vk, .fb, .tw {
		display: inline-block;
		width: 19px;
		height: 19px;
		margin: 6px 3px 0 0;
		}
	.vk {
		background: sprite($spriteSocial, vk_19x19) no-repeat;
		}
	.fb {
		background: sprite($spriteSocial, fb_19x19) no-repeat;
		}
	.tw {
		background: sprite($spriteSocial, tw_19x19) no-repeat;
		}
	}

.b-footer__copyright {
	float: left;
	width: 220px;
	font-size: 10px;
	line-height: 11px;
	}

.b-footer__nav {
	float: right;
	position: relative;
	top: -3px;
	width: 437px;

	a {
		display: inline-block;
		margin-left: 59px;
		color: $colorGrey;
		font-family: $fontRobotoCond;
		font-size: 14px;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;

		&:first-child {
			margin-left: 0;
			}
		}
	}
