<!--
 * search
 * @author: actuosus
 * @fileOverview
 * Date: 21/01/2013
 * Time: 07:49
-->

<form class="selector">
    <label>Матчи</label>
    <div class="chooser">
        <label>Тип:</label>
        <select>
            <option>Все</option>
        </select>
    </div>
    <div class="chooser">
        <label>Команда:</label>
        <select>
            <option>Все</option>
        </select>
    </div>
    <div class="chooser">
        <label>За время:</label>
        <select>
            <option>Период</option>
        </select>
        <input type="text">
    </div>
    <button type="button" class="search-btn" title="Отфильтровать"></button>
    <button type="button" class="toggle-btn toggle-btn-expand"></button>
</form>

<table></table>