<!--
 * team_info_item
 * @author: actuosus
 * @fileOverview 
 * Date: 29/01/2013
 * Time: 22:04
-->

<i {{bindAttr class=":country-flag-icon :team-country-flag-icon countryFlagClassName"}}></i>
<span class="player-name">{{nickname}}</span>