/**
 * autocomplete_text_field
 * @author: actuosus
 */

.autocomplete-text-field {
    position: relative;
    min-height: 24px;
}

.autocomplete-text-field .cancel-btn {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-appearance: none;
    border: 0;
    background: none;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: -8px 0 0 0;
    font-size: 10px;
    color: gray;
}

.autocomplete-text-field .add-btn {
    position: absolute;
    right: 3px;
    top: 50%;
    border: 0;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: -8px 0 0 0;
    font-size: 10px;
    font-weight: bold;
    color: gray;

    -webkit-appearance: none;

    background-color: white;
    box-shadow: 0 0 10px white;
}

.autocomplete-text-field .cancel-btn {
    position: absolute;
    right: 3px;
    top: 50%;
    border: 0;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: -7px 0 0 0;
    font-size: 9px;
    font-weight: normal;
    color: gray;

    -webkit-appearance: none;
    
    z-index: 3;
}

.autocomplete-text-field .text-field {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0px;
    right: 0;
    min-height: 19px;
}

.autocomplete-text-field .loader {
    right: -9px;
    position: absolute;
    top: 50%;
}