/**
 * button
 * @author: actuosus
 * Date: 06/03/2013
 * Time: 02:48
 */

.btn-clean {
    border: 0;
    background-color: transparent;
    -webkit-appearance: none;
}

.btn {
    display: inline-block;
    position: relative;
    height: 24px;
    padding: 0 13px;
    background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%);
    background-image: -moz-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%);
    background-image: -o-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%);
    background-image: -ms-linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%);
    background-image: linear-gradient(top, #f1f1f1 0%, #dbdbdb 100%);
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid #b0b0b0;
    color: #434343;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.75);

    -webkit-transition-property: background-image;
    -webkit-transition-duration: 0.3s;
}

.btn:hover {
    background-image: -webkit-linear-gradient(top, #fbfbfb 0%, #e5e5e5 100%);
    background-image: -moz-linear-gradient(top, #fbfbfb 0%, #e5e5e5 100%);
    background-image: -o-linear-gradient(top, #fbfbfb 0%, #e5e5e5 100%);
    background-image: -ms-linear-gradient(top, #fbfbfb 0%, #e5e5e5 100%);
    background-image: linear-gradient(top, #fbfbfb 0%, #e5e5e5 100%);
}

.btn:active {
    background-image: -webkit-linear-gradient(top, #d7d7d7 0%, #c1c1c1 100%);
    background-image: -moz-linear-gradient(top, #d7d7d7 0%, #c1c1c1 100%);
    background-image: -o-linear-gradient(top, #d7d7d7 0%, #c1c1c1 100%);
    background-image: -ms-linear-gradient(top, #d7d7d7 0%, #c1c1c1 100%);
    background-image: linear-gradient(top, #d7d7d7 0%, #c1c1c1 100%);
}

.btn:disabled {
    border: 1px solid #cecece;
    color: #616161;
    text-shadow: none;
}

.btn-primary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    background-image: -webkit-linear-gradient(top, #2993dd 0%, #217fd4 100%);
    background-image: -moz-linear-gradient(top, #2993dd 0%, #217fd4 100%);
    background-image: -o-linear-gradient(top, #2993dd 0%, #217fd4 100%);
    background-image: -ms-linear-gradient(top, #2993dd 0%, #217fd4 100%);
    background-image: linear-gradient(top, #2993dd 0%, #217fd4 100%);
    border-color: #1a5a95;
}

.btn-primary:hover {
    background-image: -webkit-linear-gradient(top, #46bafd 0%, #34aafe 100%);
    background-image: -moz-linear-gradient(top, #46bafd 0%, #34aafe 100%);
    background-image: -o-linear-gradient(top, #46bafd 0%, #34aafe 100%);
    background-image: -ms-linear-gradient(top, #46bafd 0%, #34aafe 100%);
    background-image: linear-gradient(top, #46bafd 0%, #34aafe 100%);
    border-color: #227cd1;
}

.btn-primary:active {
    background-image: -webkit-linear-gradient(top, #15528f 0%, #1e68a2 100%);
    background-image: -moz-linear-gradient(top, #15528f 0%, #1e68a2 100%);
    background-image: -o-linear-gradient(top, #15528f 0%, #1e68a2 100%);
    background-image: -ms-linear-gradient(top, #15528f 0%, #1e68a2 100%);
    background-image: linear-gradient(top, #15528f 0%, #1e68a2 100%);
    border-color: #144167;
}

.btn-primary:disabled {
    background-image: -webkit-linear-gradient(top, #d4d4d4 0%, #cacaca 100%);
    background-image: -moz-linear-gradient(top, #d4d4d4 0%, #cacaca 100%);
    background-image: -o-linear-gradient(top, #d4d4d4 0%, #cacaca 100%);
    background-image: -ms-linear-gradient(top, #d4d4d4 0%, #cacaca 100%);
    background-image: linear-gradient(top, #d4d4d4 0%, #cacaca 100%);
    border-color: #a7a7a7;
}

.btn-mini {
    font-size: 9px;
    height: 18px;
    padding: 0 6px;
}

.btn-large {
    height: 34px;
    font-size: 14px;
    padding: 0 40px;
}

.btn-round {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    padding: 0;
}

.toggle-btn {
    -webkit-appearance: none;
    border: 0;
    background: none;
    height: 18px;
    width: 22px;
}

.remove-btn {
    position: absolute;
    border-radius: 20px;
    color: gray;
    font-size: 9px;
    padding: 0 3px 1px 3px;
    line-height: 10px;
    top: 50%;
    margin-top: -6px;
    z-index: 2;
    vertical-align: middle;
    text-align: center;
    text-indent: 0;

    background-color: rgba(255,255,255,0);

    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: color, background-color, width;
    white-space: nowrap;
}

.remove-btn:hover {
    color: white;
    background-color: #d56154;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.75);
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.remove-btn:active {
    background-color: #7c7c7c;
    color: white;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.75);
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.toggle-btn {
    position: absolute;
    right: 13px;
    top: 18px;
    height: 18px;
    width: 22px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAJCAMAAADaUYZlAAAAOVBMVEU4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODiX3pCcAAAAE3RSTlMAAwYOFDg+SVBRbHCsrcXc8/n+d22gqAAAAD5JREFUeNpVyFsOgCAQQ9E6CuiIvPa/WEgaRuhPcw84cfyZsd5btkyYqWcykK8pMOBZkmD5w8sklAtHAAw8OpFEAipz42oiAAAAAElFTkSuQmCC') right 0 no-repeat;
}

.toggle-btn-collapsed {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAJCAMAAADaUYZlAAAAOVBMVEU4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODiX3pCcAAAAE3RSTlMAAwYNFDk+SFFrbG+srcTb8/n+43xG/AAAADxJREFUeNpFyEEOgCAQQ9GCgAgowv0Pq0mbma76H8IJ21GAvi/L502I9w/KVQGCp0BJGLsxHSbTgOmQdT6lXQIj8v3aswAAAABJRU5ErkJggg==') right 6px no-repeat;
}

/*.csstransitions .toggle-btn {*/
    /*-webkit-transition-duration: 0.3s;*/
    /*-webkit-transition-property: -webkit-transform;*/
/*}*/

/*.csstransforms3d .toggle-btn {*/
    /*-webkit-transform: rotateX(0);*/
/*}*/

/*.csstransforms3d .toggle-btn-collapsed {*/
    /*background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAJCAMAAADaUYZlAAAAOVBMVEU4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODiX3pCcAAAAE3RSTlMAAwYOFDg+SVBRbHCsrcXc8/n+d22gqAAAAD5JREFUeNpVyFsOgCAQQ9E6CuiIvPa/WEgaRuhPcw84cfyZsd5btkyYqWcykK8pMOBZkmD5w8sklAtHAAw8OpFEAipz42oiAAAAAElFTkSuQmCC') right 0 no-repeat;*/
    /*-webkit-transform: rotateX(180deg);*/
/*}*/

.edit-btn {
    height: 25px;
    line-height: 25px;
    background: url('../../agamapro-virtus.pro-ebb4d51390f8/img/css/sprites/ico-s85c67c08ea.png') 0 -3556px no-repeat;
}

.fullscreen-btn {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-indent: -10000px;
    background-image: url('../../vendor/images/noun_project_280.svg');
    background-size: 20px;
    background-repeat: no-repeat;
}

.fullscreen-btn.exit {
    background-image: url('../../vendor/images/noun_project_2816.svg');
}

.add-btn {
    position: absolute;
    border-radius: 20px;
    color: gray;
    font-size: 9px;
    font-weight: bold;
    padding: 0 3px 1px 3px;
    line-height: 10px;
    top: 50%;
    margin-top: -6px;
    z-index: 2;
    vertical-align: middle;
    text-align: center;
    text-indent: 0;

    background-color: rgba(255,255,255,0);

    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
}

.add-btn:hover {
    color: white;
    background-color: #4da53c;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.75);
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.add-btn:active {
    background-color: #7c7c7c;
    color: white;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.75);
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.public-menu-btn {
    position: absolute;
    font-size: 19px;
    color: gray;
    font-weight: normal;
}