/**
 * combobox
 * @author: actuosus
 * Date: 15/03/2013
 * Time: 17:40
 */

.combobox .autocomplete-text-field {
    position: absolute;
    width: auto;
    top: 0;
    left: 0;
    right: 19px;
    bottom: 0;
}

.combobox .text-field {
    border: 0;
}

.combobox input.text-field:invalid {
    border: 0;
    box-shadow: inset 0 0 1px 1px #dd0039;
}

.country-select .country-flag-icon {
    margin-right: 4px;
}