/**
 * lineup_grid_item
 * @author: actuosus
 * Date: 18/03/2013
 * Time: 23:36
 */

.lineup-grid-item {
    float: left;
    width: 268px;
    height: 191px;
    margin: 10px;

    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, background-color;
    padding: 10px;
    border-radius: 4px;
}

.lineup-grid-item:hover {
    background-color: rgba(0,0,0,0.05);
}

.csscolumns .lineup-grid {
    -webkit-column-gap: 29px;
    -moz-column-gap: 29px;
    column-gap: 29px;
    /*-webkit-column-count: 2;*/
    /*-moz-column-count: 2;*/
    /*column-count: 2;*/
    -webkit-column-width: 258px;
    -moz-column-width: 258px;
    column-width: 258px;
}

.csscolumns .lineup-grid-item {
    float: none;
    width: auto;
    height: auto;
    margin: 0 0 29px 0;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
}

.lineup-grid-item.is-dirty {
    background-color: rgba(255,255,0,0.2);
}

.lineup-grid-item .remove-btn {
    right: 6px;
    top: 50%;
    margin-top: -6px;
    white-space: nowrap;
}

.lineup-grid-item .public-menu-btn {
    right: 13px;
    top: -3px;
}

.lineup-grid-item .edit-btn {
    position: absolute;
    right: 26px;
    border-radius: 20px;
    background-color: #a5a5a5;
    color: #FFF;
    font-size: 9px;
    padding: 0 3px 1px 3px;
    line-height: 10px;
    top: 50%;
    margin-top: -6px;
    z-index: 2;
    vertical-align: middle;
    text-align: center;
    text-indent: 0;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: background-color;
}

.lineup-grid-item-name {
    font-weight: bold;
    font-size: 13px;
    color: #000000;
    max-width: 220px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*padding: 0 5px;*/
    margin: 7px 0 7px 4px;
}

.lineup-grid-item-name a {
    color: #000000;
    text-decoration: none;
}

.lineup-grid-item-real-name {
    display: inline-block;
    margin: 0 7px;
    font-size: 11px;
    color: #979797;
    vertical-align: top;

    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: color;
}

.lineup-grid-item-real-name:hover {
    color: #474747;
}

.lineup-grid-item-player-row .remove-btn {
    right: 6px;
    margin-top: -6px;
}

.lineup-grid-item-name-container {
    background-color: #e1e2e2;
    border: 1px solid #bababa;
    border-bottom: 3px solid #e9550d;
    height: 28px;
    position: relative;
    overflow: hidden;

    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: background-color;
}

.lineup-grid-item-name-container .loader {
    top: 2px;
    right: 21px;
}

.lineup-grid-item-name-container .add-btn {
    right: 20px;
    margin-top: -5px;
}

.lineup-grid-item-players {
    max-height: 125px;
    /*overflow: scroll;*/
    background-color: white;
}

.lineup-grid-item-players .lineup-grid-item-name {
    margin: 0;
}

.csscolumns .lineup-grid-item-players {
    max-height: none;
}


.lineup-grid-item-player-row {
    height: 24px;
    line-height: 24px;
    border: 1px solid #bababa;
    border-top: 0;
    overflow: hidden;
    position: relative;

    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: background-color, box-shadow;
}

.lineup-grid-item-player-row:hover {
    background-color: #eeeeee;;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    z-index: 3;
}

.lineup-grid-item-player-row.is-dirty {
    background-color: rgba(255,255,0, 0.2);
}

.lineup-grid-item-player-row .autocomplete-text-field .text-field {
    border: 0;
}

.lineup-grid-item-name-container .country-flag-icon {
    margin: 9px 4px 0 8px;
}

.lineup-grid-item-player-row .country-flag-icon {
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
}

.lineup-grid-item-name-container .count-btn {
    position: absolute;
    top: 5px;
    right: 50px;
}

.lineup-grid-item-name-container .remove-btn {
    margin-top: -5px;
}

.lineup-grid-item-player-row.is-saving {
    opacity: 0.5;
}

.lineup-grid-item-player-row.is-selected {
    background-color: #e9550d;
}

.lineup-grid-item-captain-marker {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #e9550d;
    border-radius: 2px;
    font-weight: bold;
    color: white;
    line-height: 11px;
    font-size: 8px;
    text-align: center;
    vertical-align: top;
    margin-top: 4px;
    margin-left: -3px;
    cursor: default;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, text-shadow;
}

.lineup-grid-item-captain-marker:hover {
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.csscolumns .group-lineup-grid {
    -webkit-column-width: 428px;
    -moz-column-width: 428px;
    column-width: 428px;
}

.csscolumns .group-lineup-grid .lineup-grid-item {
}

.lineup-grid-item-name-container .autocomplete-text-field {
    position: absolute;
    top: 0;
    z-index: 10;
}

.popup-lineup-grid-item {
    padding: 10px;
}

.popup-lineup-grid-item .lineup-grid-item {
    margin: 0;
}