/*@import "common.css";*/
@import "global.css";
@import "extras.css";
@import "select.css";
@import "tooltip.css";
@import "table.css";
@import "popup.css";
@import "control.css";
@import "button.css";
@import "menu.css";
@import "combobox.css";
@import "../../vendor/styles/bootstrap-tooltip.css";
@import "block_container.css";
@import "named_container.css";
/*@import "test-grid.css";*/
@import "games_info_bar.css";
/*@import "nav_tabs.css";*/
/*@import "nav_list.css";*/
/*@import "navbar.css";*/
@import "autocomplete_text_field.css";
@import "team_grid_item.css";
@import "country_flag_icon.css";
@import "tournament_grid.css";
@import "lineup_grid_item.css";
@import "team_standings_table_item.css";
@import "team_info_item.css";
@import "multilingual-field.css";

.icon-remove {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
}

.b-content :first-child[class="block-container"] {
    margin-top: 0;
}

.round-grid-item {
    position: relative;
    width: 178px;
    float: left;
}

.round-name {
    color: #828282;
    text-align: center;
    font-size: 13px;
}

.matches-table-container {
    border: 1px solid #bebebe;
    background-color: #efefef;
}

.matches-table-date {
    font-size: 11px;
    color: #838383;
}

.matches-table-map-type {
    color: #838383;
    font-size: 10px;
}

.matches-table-map-type-marker {
    font-size: 13px;
    margin-right: 2px;
}

.team-info-tooltip-items {
    font-size: 11px;
}

.matches-table-description {
    font-size: 11px;
}

.matches-table-description a {
    color: #2a2a2a;
    text-decoration: none;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 230px;
    display: inline-block;
    white-space: nowrap;
}

.matches-table-description a:hover {
    text-decoration: none;
    color: #429dee;
}

.matches-table-team1 {
    text-align: right !important;
}

.matches-table-team1 .team-country-flag-icon {
    float: right;
    margin-left: 10px;
}

.match-grid {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.named-container-title {
    font-size: 19px;
    border-bottom: 3px solid #bebebe;
    margin-top: 0;
    line-height: 16px;
    padding-bottom: 8px;
    overflow: hidden;
}

.named-container.collapsed .named-container-title {
    border-bottom: 0px solid #bebebe;
    margin-bottom: 0;
    padding-bottom: 0;
}

.match-grid-item {
    width: 158px;
}

.match-start-date {
    font-size: 11px;
    float: left;
    max-width: 90px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.match-info-bar {
    float: right;
}

.header-item {
    cursor: default;
    -webkit-user-select: none;
}

.chooser label {
    font-size: 10px;
}

.search-btn {
    width: 76px;
    height: 34px;
    background-image: -webkit-linear-gradient(top, #414141, #292929);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    border: 1px solid #202020;
}

.grid {
    overflow: hidden;
}

.grid .match-grid-item {
    float: left;
    margin-right: 43px;
    margin-bottom: 10px;
}

.b-profileBlock__title {
    -webkit-user-select: none;
}

.b-profileBlock__title.close {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAJCAMAAADaUYZlAAAAOVBMVEU4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODg4ODiX3pCcAAAAE3RSTlMAAwYNFDk+SFFrbG+srcTb8/n+43xG/AAAADxJREFUeNpFyEEOgCAQQ9GCgAgowv0Pq0mbma76H8IJ21GAvi/L502I9w/KVQGCp0BJGLsxHSbTgOmQdT6lXQIj8v3aswAAAABJRU5ErkJggg==') right 6px no-repeat;
}

.b-listsTabs .item {
    /*border-top: 1px solid #dadada;*/
    /*border-left: 1px solid #eaeaea;*/
    box-shadow: 0 0 14px rgba(0, 0, 0, 0);
    -webkit-transition-property: background-color, box-shadow;
    -webkit-transition-duration: 0.3s;
}

.b-listsTabs .item:hover {
    background-color: #f3f3f3;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
}

.b-listsTabs .item:active {
    background-color: #bababa;
}

.b-listsTabs .item.active {
    border-radius: 2px 2px 0 0;
    -webkit-font-smoothing: antialiased;
}

.b-listsTabs .item:last-child {
    border-right: 0;
}

.stage-view {
    margin-top: 16px;
}

.stage-view .i-listsTabs_bd {
    border: 0;
}

.stage-view .grid, .stage-view .match-grid {
    margin-top: 14px;
}

.grid .team-grid-item {
    border-top: 0;
}

.match-grid .team-grid-item {
    margin-bottom: 5px;
}

.grid .team-grid-item:first-child {
    border-top: 1px solid #828282;
}

.b-profileBlock__toggle-button {
    position: absolute;
    right: 13px;
    top: 18px;
    height: 18px;
    width: 22px;
}

.country-menu-item .country-flag-icon {
    margin-right: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
}