/**
 * match-table
 * @author: actuosus
 * Date: 21/05/2013
 * Time: 13:22
 */

.matches-table {
    border: 0;
}

.matches-table-item {
    position: relative;
}

.matches-table-item .autocomplete-text-field {
    min-height: 19px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.matches-table-item .autocomplete-text-field .text-field {
    min-height: 15px;
}

.matches-table-item .team-grid-item {
    border: 0;
    background-color: transparent;
}

.matches-table-item td {
    position: relative;
    vertical-align: middle;
}

.matches-table-item.is-dirty td {
    background-color: rgba(255,255,0,0.2);
}

.matches-table-item.is-updating td {
    background-color: rgba(155,0,155,0.2);
}

.matches-table-item.invalid td {
    background-color: rgba(255,0,0,0.05);
}

.matches-table-item.is-dirty.invalid td {
    background-color: rgba(255,127,0,0.2);
}

.matches-table-item .team-name {
}
