/**
 * match-filter-form
 * @author: actuosus
 * Date: 31/03/2013
 * Time: 18:04
 */

.match-filter-form-container {
    background: #e0e0e0;
    border-bottom: 1px solid #afafaf;
    min-height: 24px;
}

.match-filter-form {
    position: absolute;
    top: 12px;
    left: 75px;
}

.is-target-collapsed .match-filter-form {
    display: none;
}

.is-target-collapsed .matches-table-container .toggle-btn {
    top: 3px;
}

.match-filter-form .columnLeft {
    float: none;
}

.match-filter-form .span1 {
    margin-top: 33px;
    float: left;
    margin-right: 30px;
}

.match-filter-form .select {
    min-width: 90px;

    float: left;
    padding-right: 18px;
    min-height: 26px;
}

.match-filter-form label {
    float: left;
    margin-right: 17px;
}

.match-filter-form label span {
    font-size: 11px;
    display: block;
}

.match-filter-form .team-combobox {
    min-width: 180px;
}

.period-selector, .date-selector {
    float: left;
}

.period-selector input {
    min-height: 26px;
}

.date-selector .date {
    min-height: 28px !important;
    margin-left: 9px;
}

.period-selector .start-date, .period-selector .end-date {
    float: left;
    min-height: 28px !important;
    margin-left: 9px;
}

.match-filter-form .search-btn {
    position: absolute;
    right: 49px;
    top: 8px;
}