/**
 * match-item
 * @author: actuosus
 * Date: 27/05/2013
 * Time: 13:53
 */

.match-item {
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: background-color;
}

.match-item.is-dirty {

}

.match-item.is-past .match-start-date {
    color: #afb0b0;
}

.match-item.invalid {
    background-color: rgba(255,0,0,0.1);
}

.match-item.is-dirty.invalid {
    background-color: rgba(255,127,0,0.2);
}

.match-item.is-selected {
    background-color: rgba(0,0,0,0.05);
}

.match-item .icon-lock {
    position: absolute;
    right: -12px;
    top: 0px;
}

.match-item .time {
    color: black;
}