/**
 * multilingual-field
 * @author: actuosus
 * Date: 20/03/2013
 * Time: 21:00
 */

.multilingual-text-area,
.multilingual-text-field {
    display: inline-block;
    position: relative;
}

.multilingual-text-field input {
    min-height: 26px !important;
}


.language-selector {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 10px;
    height: 10px;
    padding: 0;
    margin: 0;
}

.language-selector-item {
    /*display: inline-block;*/
    font-size: 10px;
    width: 25px;
    height: 21px;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    display: block;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: background-color;
}

.language-selector-item:hover {
    background-color: #e2e2e2;
    background-image: -webkit-linear-gradient(top, #ededed, #bfbfbf);
}

.language-selector-item.is-selected {
    background: #d65100;
}

.multilingual-text-field .current-value {
    width: 20px;
    min-height: 23px;
    line-height: 23px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 10px;
    color: #575757;
    border-radius: 0 2px 2px 0;
    background-image: -webkit-linear-gradient(top, #ededed, #bfbfbf);
    border: 1px solid #c3c3c3;
    text-transform: uppercase;
}

.multilingual-text-area .current-value {
    width: 20px;
    min-height: 23px;
    line-height: 23px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    font-size: 10px;
    color: #575757;
    border-radius: 0 2px 0 2px;
    background-image: -webkit-linear-gradient(top, #ededed, #bfbfbf);
    border: 1px solid #c3c3c3;
    text-transform: uppercase;
}

.language-menu {
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-left: -2px;
    margin-top: -1px;
    background: white;
}

.multilingual-editable-label {
    position: relative;
    display: inline-block;
}

.multilingual-editable-label .language-selector {
    width: 14px;
    height: 14px;
    right: -14px;
    background: white;
    color: black;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    line-height: 10px;
    font-weight: normal;
    border-radius: 2px;
}

.multilingual-editable-label .language-selector .current-value {
    width: 14px;
    height: 14px;
    padding: 2px;
}

