/**
 * named_container
 * @author: actuosus
 * Date: 20/03/2013
 * Time: 17:05
 */

.named-container .loader {
    position: absolute;
    right: 247px;
    width: 20px;
    height: 20px;
    top: 17px;
}

.named-container .status-text {
    position: absolute;
    right: 45px;
    top: 20px;
    width: 200px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.named-container .error-text {
    position: absolute;
    right: 3px;
    top: 37px;
    left: 3px;
    height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    color: darkred;
    text-align: right;
}

.named-container .search-bar {
    position: absolute;
    right: 440px;
    top: 16px;
}

.named-container .search-field {
    border-radius: 15px;
    outline: none;
    -webkit-appearance: none;
    border: 1px solid #c3c3c3;
    padding: 0 0 0 10px;
    min-height: 21px;
}

.named-container .search-bar .remove-btn {
    right: 7px;
    background: #a5a5a5;
    color: white;
}

.named-container-title {
    font-size: 19px;
    border-bottom: 3px solid #bebebe;
    margin-top: 0;
    line-height: 16px;
    padding-bottom: 8px;
    overflow: hidden;
}

.named-container.collapsed .named-container-title {
    border-bottom: 0px solid #bebebe;
    margin-bottom: 0;
    padding-bottom: 0;
}

.named-container .add-team-btn {
    top: 27px;
    right: 40px;
}

.named-container .add-team-field {
    position: absolute;
    right: 48px;
    top: 14px;
    width: 246px;
}

.named-container .help-btn {
    position: absolute;
    right: 40px;
    top: 15px;
}
