/**
 * named_container
 * @author: actuosus
 * Date: 20/03/2013
 * Time: 17:05
 */

.named-container .loader {
    position: absolute;
    right: 247px;
    width: 20px;
    height: 20px;
    top: 17px;
}

.named-container .status-text {
    position: absolute;
    right: 45px;
    top: 20px;
    width: 200px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.named-container .search-bar {
    position: absolute;
    right: 285px;
    top: 13px;
}

.named-container .search-field {
    border-radius: 15px;
    outline: none;
}

.named-container .search-field:focus {
    box-shadow: 0 0 8px #da4600;
}