/**
 * nav_list
 * @author: actuosus
 * Date: 18/03/2013
 * Time: 23:35
 */

.nav-list > li > a {
    color: #535353;
    font-size: 13px;
    -webkit-trasition-property: color, background-color;
    -webkit-trasition-duration: 0.3s;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
    color: #f25608;
    background: white;
    text-shadow: none;
}