/**
 * select
 * @author: actuosus
 * Date: 14/03/2013
 * Time: 02:31
 */

.select {
    border: 1px solid #c3c3c3;
    border-radius: 2px;
    min-height: 23px;
    background-color: white;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.select .disclosure-button {
    width: 18px;
    min-height: 23px;
    line-height: 23px;
    position: absolute;
    right: -1px;
    top: -1px;
    text-align: center;
    font-size: 10px;
    color: #575757;
    border-radius: 0 2px 2px 0;
    background-image: -webkit-linear-gradient(top, #ededed, #bfbfbf);
    border: 1px solid #c3c3c3;
}

.select .disclosure-icon {
    font-size: 13px;
    color: #575757;
    font-style: normal !important;
    font-family: Arial;
}

.select select {
    opacity: 0;
    z-index: 2;
    position: absolute;
}

.select .current-value {
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 13px;
    margin-top: -7px;
}

.country-select .current-value {
    z-index: 10;
}

.country-select .text-field {
    padding-left: 30px;
}
