/**
 * team_standings_table_item
 * @author: actuosus
 * Date: 18/03/2013
 * Time: 23:38
 */
 
.team-standings-table-item {
    position: relative;
}

.team-standings-table-item .name {
    border-right: 1px solid #dddddd;
}

.team-standings-table-item .team-name {
    width: auto;
}

.team-standings-table-item .name a {
    color: #2a2a2a;
    cursor: pointer;
    -webkit-transition-property: color, background-color;
    -webkit-transition-duration: .3s;
    text-decoration: none;
    min-width: 70px;
}

.team-standings-table-item .name a:hover {
    color: #3291dc;
}

.team-standings-table-item.is-selected {
    font-weight: bold;
}
