/**
 * team_info_item
 * @author: actuosus
 * Date: 18/03/2013
 * Time: 23:38
 */

.team-info-tooltip {
    /*width: 125px;*/
}

.team-info-tooltip-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.team-info-item {
    display: block;
    height: 20px;
    text-align: left;
}

.team-info-item .player-name {
    margin-left: 2px;
    -webkit-font-smoothing: antialiased;
}
