/**
 * team_grid_item
 * @author: actuosus
 * Date: 14/03/2013
 * Time: 02:28
 */

.team-grid-item-container {
    width: 156px;
    height: 25px;
    overflow: hidden;
    position: relative;

    -webkit-transition-property: background-color, border-color, box-shadow;
    -webkit-transition-duration: 0.3s;
}

.team-grid-item-container.is-highlighted {
    box-shadow: 0 0 10px #ff6c00;
    z-index: 2;
}

.team-grid-item-container.is-highlighted:hover {
    box-shadow: 0 0 10px 2px #ff6c00;
}

.team-grid-item {
    height: 19px;
    padding: 2px;
    overflow: hidden;
    font-size: 12px;
    position: relative;

    -webkit-transition-property: background-color, border-color, box-shadow;
    -webkit-transition-duration: 0.3s;
}

.team-grid-item:hover {
    background-color: #f7f7f7;
    border-color: #979797;
}

.team-grid-item.is-editing {
    box-shadow: 0 0 4px #e85b00;
    border: 1px solid #843a00;
    position: relative;
    z-index: 5;
}

.team-grid-item.is-updating {
    opacity: 0.5;
}

.team-grid-item.is-loading {
    background: red !important;
}

.team-grid-item .autocomplete-text-field {
    position: absolute;
    width: auto;
    left: 22px;
    top: 2px;
    bottom: 2px;
    right: 21px;
    min-height: 19px;
}

.team-grid-item .autocomplete-text-field .text-field {
    min-height: 10px;
    padding-left: 5px;
}

.team-name {
    width: 108px;
    line-height: 20px;
    min-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    float: left;
}

.team-name a {
    color: black;
    text-decoration: none;
}

.team-undefined .team-name {
    width: 96px;
    border: 1px dashed #858586;
    border-radius: 2px;
    min-height: 17px;
}

.is-final .team-undefined .team-name {
    width: 132px;
}

.team-undefined .team-name:hover {
    border: 1px dashed #5f5f60;
}

.team-winner .team-name {
    font-weight: bold;
}

.team-country-flag-icon {
    margin: 4px 2px;
    background-color: #9b9b9b;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    /*background-size: 0;*/

    /* TODO Tell the Chrome team about the problem with rendering columns. */
    /*-webkit-transform: scale(1);*/

    -webkit-transition-duration: 0.5s;
    -webkit-transition-property: background-size, box-shadow;
    float: left;
}

.team-country-flag-icon.has-flag {
    background-size: 100%;
}

.team-reset-btn {
    right: 24px;
    top: 50%;
    margin-top: -6px;
}

.team-points {
    min-width: 17px;
    height: 17px;
    /*padding: 1px 6px;*/
    padding: 1px;
    float: right;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    color: white;
    background-color: #9b9b9b;
    cursor: default;

    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0);
    text-shadow: 0 0 1px rgba(0,0,0,0.5);

    -webkit-transition-property: background-color, box-shadow;
    -webkit-transition-duration: 0.3s;
}

.editable-label.team-points,
.editable-label.team-points.active,
.editable-label.team-points:focus {
    background-color: #9b9b9b;
}

.team-points:hover {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

.team-winner .team-points,
.team-winner .team-points.active,
.team-winner .team-points:focus {
    background-color: #5aaa71;
}

.team-loser .team-points,
.team-loser .team-points.active,
.team-loser .team-points:focus {
    background-color: #af3a40;
}

.flat-team-grid-item {
    position: absolute;
    width: 154px;
    height: 19px;
    border: 1px solid #828282;
    background-color: #efefef;

    overflow: hidden;

    /*-webkit-transition-property: -webkit-transform;*/
    /*-webkit-transition-duration: 1s;*/
    /*-webkit-transform: translate(0, 0);*/
}

.svg-team-grid-item {
    stroke: #828282;
    stroke-width: 1;
    fill: #efefef;
}

.svg-team-grid-item:hover {
    -webkit-filter: drop-shadow( 0 0 10px #ff6c00 );
}