<div class="control-row">
    <input type="text" name="title" class="title" placeholder="Title" {{bindAttr value="view.title"}} />
</div>

<div class="control-row">
    <input type="url" name="link" class="link" placeholder="Link" {{bindAttr value="view.link"}} />
</div>

<div class="control-row">
    <button class="btn btn-primary save-btn">{{loc '_save'}}</button>
    <button class="btn cancel-btn">{{loc '_cancel'}}</button>
</div>