<!--
 * match_filter_form
 * @author: actuosus
 * @fileOverview
 * Date: 21/01/2013
 * Time: 07:49
-->

<form class="selector row b-filter" xmlns="http://www.w3.org/1999/html">
    <div class="cf">
        <div class="span1">
            <label>Матчи</label>
        </div>
        <div class="columnLeft">

            <label>
                <span>Тип:</span>
                {{view App.SelectView contentBinding=App.matchTypes promt="Все"}}
            </label>
            <label>
                <span>Команда:</span>
                {{view App.SelectView contentBinding=App.teamsController promt="Все"}}
            </label>
            <label>
                <span>За время:</span>
                {{view App.SelectView contentBinding=App.peroids}}
            </label>

            <button type="button" class="btn btn-large search-btn submit" title="Отфильтровать" {{action filter}}><i class="icon-search icon-white"></i></button>
        </div>
    </div>
</form>