<div class="control-row">
    <label for="name">{{loc '_description'}}:</label>
    {{view App.MultilingualTextArea name="description" classNames="description" cols="90" valueBinding="view.description" languagesBinding="App.languages" selectedLanguage=App.currentLanguage}}
</div>

<div class="control-row">
    <button type="submit" class="btn btn-primary save-btn">{{loc '_save'}}</button>
    <button type="button" class="btn cancel-btn">{{loc '_cancel'}}</button>
</div>